#ignore thumbnails created by windows
Thumbs.db

#ignore phpstorm config folder
.idea/

#ignore local test folder
.test/

#ignore local test folder
node_modules/

#ignore local test file
tests/my-api-utils.js